.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.block {
  display: flex;
  flex-direction: column;
}

.inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.inline :global(.input + .input) {
  margin-top: 0;
}
